<h1>New Console Form</h1>

<%= form_for(@console) do |f| %>
  <label>
    Name
    <%= f.text_field(:name) %>
  </label>

  <label>
    Manufacturer
    <%= f.text_field(:manufacturer) %>
  </label>

  <%= f.submit('Create') %>
<% end %>
